<!DOCTYPE html>
<html lang="ko" ng-app="filterApp">

<head>
    <meta charset="UTF-8">
    <title>filter예제</title>
</head>

<body ng-controller="filterCtrl">
    <h1>영화 검색</h1>

    <label>검색 :
        <input type="text" placeholder="이름검색" ng-model="q" kr-input/>

    </label>

    <ul>
        <li ng-repeat="movie in movies|filter:{name:q}">
            <img src="poster/{{movie.poster}}" width="50px">
            <label> {{movie.name}}</label>
        </li>
    </ul>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-ko.input.js"></script>
    
    <script>
        var app = angular.module("filterApp", ['kr-input']);
        app.controller("filterCtrl", ["$scope", function($scope) {
            console.log("filterCtrl");

            $scope.movies = [{
                "poster": "p1.png",
                "director": "나홍진",
                "name": "곡성",
                "grade": 106,
                "gradeNum": 12
            }, {
                "poster": "p2.png",
                "director": "클레이 케이티스",
                "name": "앵그리버드 더무비",
                "grade": 106,
                "gradeNum": 12
            }, {
                "poster": "p3.png",
                "director": "창감독",
                "name": "계춘할망",
                "grade": 106,
                "gradeNum": 12
            }, {
                "poster": "p4.png",
                "director": "조성희",
                "name": "탐정 홍길동",
                "grade": 106,
                "gradeNum": 12
            }, {
                "poster": "p5.png",
                "director": "존 카니",
                "name": "싱스트리트",
                "grade": 106,
                "gradeNum": 12
            }, {
                "poster": "p6.png",
                "director": "안소니 루소",
                "name": "캡틴아메리카:시빌워",
                "grade": 106,
                "gradeNum": 12
            }];
        }])
    </script>
</body>

</html>